<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetas de Repostería</title>
    <link rel="stylesheet" href="/style/navigation.css">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/auth.css">
    <link rel="icon" href="/images/favicon.png" type="image/png">
</head>


    <header>
        <h1>Recetas</h1>
    </header>

    <nav>
        <% if (!isAuthenticated) { %>
            <div class="auth-message not-registered">
                NO REGISTRADO
            </div>
        <% } else { %>
            <a href="/admin/profile/<%= user._id %>">
                <div class="auth-message registered">
                    Hola, <%= user.name.charAt(0).toUpperCase() + user.name.slice(1) %>
                </div>
            </a>
        <% } %>

        <ul>
            <li><a href="/">Inicio</a></li>
            <% if (isAuthenticated) { %>
                <li><a href="/admin/add-recipe">Añadir receta</a></li>
            <% } %>
            <li><a href="/bookmark">Recetas archivadas</a></li>
            <li><a href="#">Contacto</a></li>
            <% if (!isAuthenticated) { %>
                <li class="main-header__item"><a href="/login">Login</a></li>
                <li class="main-header__item"><a href="/signup">Signup</a></li>
            <% } else { %>
                <li class="main-header__item">
                    <form action="/logout" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
    </nav>
