<link rel="stylesheet" href="/style/recipe-details.css">

<% if (recetasSimilares.length > 0) { %>
    <div class="container-recetas-relacionadas">
        <h2> Recetas relacionadas </h2>
        <% for (let i = 0; i < Math.min(recetasSimilares.length, 3); i++) { %>
            <% let receta = recetasSimilares[i]; %>
            <div class="receta-similar">
                <a href="/recipe-details/<%= receta._id %>">
                    <img src="<%= receta.image %>" alt="<%= receta.image %>" >
                    <h3> <%= receta.nombre %> </h3>
                </a>
            </div>
        <% } %>
    </div>
    <% } %>