body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
}

.button-delete {
    background-color: red;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    color: #f8b400;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 20px;
    font-weight: bold;
}

input[type="text"],
input[type="url"],
textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

input[type="submit"] {
    background-color: #3a940d8e;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    margin: 20px 0;
    display: inline;
}

input[type="submit"]:hover {
    background-color: #1fc62a;
}

.invalid {
    border: 1px solid red;
    background-color: #fdd;
}

select,
option {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    margin: 10px 0;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
    outline-color: #00695c;
}
