/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Recetas similares */

.container-recetas-relacionadas {
    text-align: center; /* Centra el título de la sección */
    margin-bottom: 40px; /* Añade margen inferior para separar de otros contenidos */
}

.container-recetas-relacionadas h2 {
    font-size: 2em; /* Tamaño de fuente del título */
    margin-bottom: 20px; /* Espacio debajo del título */
    color: #333; /* Color del texto del título */
}

.receta-similar {
    display: inline-block;
    margin: 10px;
    text-align: center;
    width: 200px;
    border: 1px solid #ddd; /* Añade un borde alrededor de la receta */
    border-radius: 8px; /* Esquinas redondeadas */
    overflow: hidden; /* Asegura que la imagen no se desborde */
    background-color: #fff; /* Fondo blanco para mejorar contraste */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves para hover */
}

.receta-similar:hover {
    transform: scale(1.05); /* Escala ligeramente al pasar el ratón */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Aumenta la sombra en hover */
}

.receta-similar a {
    text-decoration: none;
    color: #333; /* Color del texto */
}

.receta-similar img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd; /* Borde inferior para separar la imagen del texto */
}

.receta-similar h3 {
    margin: 10px 0;
    font-size: 1.1em; /* Tamaño de fuente del título */
    color: #555; /* Color del texto */
}


/* Recipe Details */
.recipe-details h2 {
    color: #f8b400;
    margin-bottom: 10px;
    text-align:center;
    font-size:2em;
}

.recipe-details h4 {
    color: #666;
    margin-bottom: 20px;
    text-align:center;
}

.recipe-image img {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.recipe-details p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

.recipe-details h3 {
    color: #444;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* List Styles */
.listado-details {
   
    padding-left: 20px;
    max-width: 600px;
    display: block;
}

.listado-details li {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

/* Buttons */
.bakery-button {
    display: inline-block;
    background-color: #f8b400;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
}

.bakery-button:hover {
    background-color: #d19400;
}



/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .recipe-details h2 {
        font-size: 24px;
    }

    .recipe-details p, .listado-details li {
        font-size: 14px;
    }

    .bakery-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
