
.container {
    padding: 20px;
}

.listado-details {
    display: block;
}


.recipe-image img {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.recipe-details {
    max-width: 800px;
    margin: 0 auto;
}
.recipe-details h2 {
    color: #f8b400;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}